<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>{{ partial "head.html" . }}</head>
  <body>
    {{ partial "header.html" . }}
    <hr>
    <main>
    {{ block "main" . }}
		{{ end }}
    </main>
    <aside>
    {{ partial "sidebar.html" . }}
    </aside>
    <footer>
    {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
