     {{ define "main" }}
      <h3> this is default/list.html view</h3>
      <p> this will be inserted into the main block</p>

          {{ range .Data.Pages }}
            {{ if and (isset .Params "image") .Params.image }}
              {{ if eq .Params.showonlyimage true }}
              <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
              {{ else }}
              <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
              {{ end }}
              <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
              </a>
            {{ end }}
            {{ if eq .Params.showonlyimage true }}
            {{ else }}
            {{ end }}
            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
            <p>
            {{ if .Description }}
             {{ .Description }}
             {{ else }}
             {{ .Summary }}
            {{ end }}
            </p>
          {{ end }}



     {{ end }}
