
      {{ define "main" }}
       <h3> this is default/single.html view </h3>
       <p> the content is defined for the "main" block here</p>
       <h1>{{ .Title }}</h1>
       {{ .Content }}
      {{ end }}
