<header>
  <main>
    <h1>{{ .Title }}</h1>
    {{ if .IsHome }}
    {{ range .Site.Params.sidebarAbout }}
      <p class="claim about">{{ . | safeHTML }}</p>
    {{ end }}
    {{ end }}
  </main>
  <aside>
    <nav class="custom-navbar">
      <div class="container">
        {{ range .Site.Params.Navlinks }}
        <a href="{{ absURL .url }}">{{ .name }}</a>
        {{ end }}
      </div>
    </nav>
  </aside>
</header>
