<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1, srhink-to-fit=no">

{{ if .IsHome }}
  {{ $homepage := "Home" }}
<title>{{ .Site.Title }} | {{ $homepage }}</title>
  {{ else }}
<title>{{ .Title }} | {{ .Site.Title }} </title>
{{ end }}
{{ hugo.Generator }}
{{ with .Site.Params.description }}
<meta name="description" content="{{ . }}">
{{ end }}
<link rel="shortcut icon" href="{{ "img/favicon.png" | absURL }}">
{{ with .OutputFormats.Get "RSS" }}
  {{ printf `<link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
{{ end }}
