{{ block "main"  . }}

		<main>
		  {{ if .IsHome }}
	      {{ range where .Site.Pages "Section" "portfolio" }}
	        {{ if ne .Title "Portfolio" }}
	        <article>
		  			<header>
	            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
	            {{ $customDateFormat := "January 2, 2006" }}
	            {{ with .Site.Params.customDateFormat }}
		  		  	{{ $customDateFormat = . }}
		  		  	{{ end }}
		  		  	<span class="text-secondary">
		  		  		{{ .PublishDate.Format $customDateFormat }}
		  		  	</span>
		  			</header>

	          {{ range .Params.tags }}
	          <aside class="tags">
		  			  <h6>tags</h6>
	            {{ $href := print (absURL "tags/") (urlize .) }}
	            <small><a href="{{ $href }}">{{ . }}</a></small>
	          </aside>
	          {{ end }}

	          {{ if eq .Site.Params.showPostSummary true }}
		  			<main>
		  			  <h6> Summary:</h6>
		  				<p>
	            {{ .Summary }}
		  				</p>
		  			</main>
	          {{ end }}
	        </article>
	        {{ end }}
	      {{ end }}
		  {{ end }}
		  <!-- end IsHome -->
    </main>
{{ end }}
