
		  {{ if .IsSingle }}
						<p> is single</p>

		  <article>
		  	<header>
		  		<h1>{{ .Title | markdownify }}</h1>
		  	</header>
		  	<main>
		  		{{ .Content }}
		  	</main>
		  </article>
			{{ end }}
		  <!-- end .IsSingle -->

		  <article>
		  	<header>
		  	<h1>{{ .Title }}</h1>
		  	</header>
		  	<aside>
		  	{{ $type := .Type }}
		  	{{ range $key, $value := .Data.Terms.ByCount }}
		  		{{ $name := .Name }}
		  		{{ $count := .Count }}
		  		{{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
		  		<p>
		  		  <a href="{{ .Permalink }}"><code>{{ $name }}</code></a>
		  			{{ $count }}
		  		</p>
		  		{{ end }}
        {{ end }}
		  	</aside>
		  </article>
		  <!-- end IsTaxonomy -->
