{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>
         {{ .Content }}

         <h5>You'll find me also ...</h5>
         {{ partial "social-buttons.html" . }}
         {{ with .Site.Params.email }}
         {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
