<div class="small-navbar visible-xs">
  <button type="button" data-toggle="offcanvas" class="btn offcanvas-toggle"> <i class="fa fa-bars"> </i></button>
    <figure class="logo"><a href="{{ .Site.BaseURL }}"><img src="{{ absURL .Site.Params.logo }}" alt="{{ .Site.Title }} logo"></a></figure>
  <h1 class="small-navbar-heading"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
</div>
