<aside id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
  <div class="sidebar-content">
    <header>
    <h1 class="sidebar-heading"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    <figure class="logo"><a href="{{ .Site.BaseURL }}"><img src="{{ absURL .Site.Params.logo }}" alt="{{ .Site.Title }} logo"></a></figure>
    </header>
    <main>
    {{ range .Site.Params.sidebarAbout }}
    <p class="sidebar-p">{{ . | safeHTML }}</p>
    {{ end }}
    </main>
    <nav>
      <ul class="sidebar-menu">
       {{ range .Site.Params.navlinks }}
       <li><a href="{{ absURL .url }}">{{ .name }}</a></li>
       {{ end }}
      </ul>
    </nav>
    <aside class="bottom">
    {{ partial "social-buttons.html" . }}

    <div class="copyright">
      <p class="credit">
        {{ with .Site.Params.copyright }}
          {{ . | safeHTML }} |
        {{ end }}
        {{ partial "attribution.html" . }}
      </p>
    </div>
    </aside>
  </div>
</aside>
