<aside class="social">
  <ul>
    {{ range .Site.Params.contact }}
    <li>
      <a href="{{ .url }}" class="{{ .name }}">
        <i class="fa fa-{{ .name }} {{ .faicon }}"></i>
      </a>
    </li>
    {{ end }}
  </ul>
</aside>
