<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<body>
  <content id="all" class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-right">
          {{ block "main" . }}
          {{ end }}
          {{ partial "sidebar.html" . }}
    </div>
  </content>
  <footer>
  {{ partial "scripts.html" . }}
  </footer>
</body>
</html>
