/* your styles go here */

:root {
  --vtrb-main-color: #4a5d6e;
  --vtrb-main-medium-color: #73808c;
  --vtrb-main-light-color: #a0aab4; /* rgb(160,170,180)*/
  --vtrb-main-lighter-color: #a0aab41c; /* rgba(160,170,180,23)*/
  /*--vtrb-main-lighter-color: #f1f1fa;*/ /*rgb(241,241,250)*/
  --vtrb-image-margin: 0.3rem auto;
  --vtrb-image-border: 1px solid #cdcdcd;
}
@media screen {
  
  .container-fluid > .row{
    padding: 0 2em;
  }
  
  .sidebar-content {
    position: fixed;
    height: calc(100% - 8em);
    width: 100%;
  }
  .sidebar-heading {
    font-size: 1.3em;
    font-weight: 100;
    margin-bottom: 0;
    text-transform: unset;
  }
  .sidebar-content .logo {
    width: 8em;
    margin: 1em 0;
  }
  .sidebar-content .bottom  {
    position: absolute;
    bottom: 0;
  }
  
  a:hover, a:focus,
  .btn.focus, .btn:focus, .btn:hover,
  .btn-ghost:hover,
  .btn-ghost:focus,
  .btn-ghost:active,
  .btn-ghost.active,
  .sidebar-menu li:hover a ,
  .sidebar-menu li:hover:before,
  .sidebar-heading a:hover,
  .social a:hover,
  .btn-transparent:hover,
  .btn-transparent:focus,
  .btn-transparent:active,
  .btn-transparent.active,
  .pagination > li > a:hover,
  .pagination > li > span:hover,
  .pagination > li > a:focus,
  .pagination > li > span:focus,
  .box-masonry h4 a:hover {
    color: var(--vtrb-main-color) 
  }
  
  a,
  .sidebar-menu li a,
  .box-masonry h4 a,
  .required,
  .accent,
  .btn-ghost,
  .open .dropdown-toggle.btn-ghost,
  .icon,
  .sidebar-menu li.active a,
  .sidebar-menu li.active:before ,
  .content-column-content ul li:before,
  .breadcrumb a,
  .btn,
  .btn-primary .badge,
  .pagination > li > a,
  .pagination > li > span,
  .text-primary,
  a.list-group-item.active > .badge,
  .nav-pills > .active > a > .badge,
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
  .small-navbar a,
  .small-navbar-heading a,
  .sidebar-heading a,
  .copyright p.credit a{
    color: var(--vtrb-main-medium-color);
  }
  
  .btn-ghost,
  .btn-ghost.disabled,
  .btn-ghost[disabled],
  fieldset[disabled] .btn-ghost,
  .btn-ghost.disabled:hover,
  .btn-ghost[disabled]:hover,
  fieldset[disabled] .btn-ghost:hover,
  .btn-ghost.disabled:focus,
  .btn-ghost[disabled]:focus,
  fieldset[disabled] .btn-ghost:focus,
  .btn-ghost.disabled:active,
  .btn-ghost[disabled]:active,
  fieldset[disabled] .btn-ghost:active,
  .btn-ghost.disabled.active,
  .btn-ghost[disabled].active,
  fieldset[disabled] .btn-ghost.active,
  .btn-ghost:hover,
  .btn-ghost:focus,
  .btn-ghost:active,
  .btn-ghost.active,
  .open .dropdown-toggle.btn-ghost,
  .icon,
  .sidebar-heading a:hover,
  .small-navbar-heading a:hover,
  .social a:hover,
  .box-masonry h4 a:hover,
  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus,
  .btn-primary,
  .btn-primary.disabled,
  .btn-primary[disabled],
  fieldset[disabled] .btn-primary,
  .btn-primary.disabled:hover,
  .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus,
  .btn-primary[disabled]:focus,
  fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled:active,
  .btn-primary[disabled]:active,
  fieldset[disabled] .btn-primary:active,
  .btn-primary.disabled.active,
  .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary.active,
  .form-control:focus,
  .pager li > a,
  .pager li > span,
  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus,
  blockquote,
  .blockquote-reverse,
  blockquote.pull-right,
  .panel-primary,
  .panel-primary > .panel-heading ,
  .panel-primary > .panel-heading + .panel-collapse .panel-body,
  .panel-primary > .panel-footer + .panel-collapse .panel-body{
    border-color: var(--vtrb-main-medium-color);
  }
  .btn-ghost .badge,
  .btn-ghost:hover,
  .btn-ghost:focus,
  .btn-ghost:active,
  .btn-ghost.active,
  .open .dropdown-toggle.btn-ghost,
  .services .heading:after,
  #main-slider .owl-controls .owl-page.active span,
  #main-slider .owl-controls.clickable .owl-page:hover span,
  .progress-bar-skill5,
  .box-image .bg,
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus,
  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus,
  .btn-primary,
  .btn-primary.disabled,
  .btn-primary[disabled],
  fieldset[disabled] .btn-primary,
  .btn-primary.disabled:hover,
  .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus,
  .btn-primary[disabled]:focus,
  fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled:active,
  .btn-primary[disabled]:active,
  fieldset[disabled] .btn-primary:active,
  .btn-primary.disabled.active,
  .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary.active,
  .pager li > a:hover,
  .pager li > a:focus,
  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus,
  .bg-primary,
  .panel-primary > .panel-heading {
    background-color: var(--vtrb-main-medium-color);
  }
  .sidebar-p,
  .sidebar .copyright,
  .copyright{ 
    color: var(--vtrb-main-light-color);
  }
  .copyright .small, 
  .copyright small {
    font-size: 0px;
  }
  .content-column.white-background {
    background-color: unset;
  }
  body {
    background-color: var(--vtrb-main-lighter-color);
  }
  .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    border: var(--vtrb-image-border);
    margin: var(--vtrb-image-margin);
  }
  
  /* social icons */
  .social {
    display: inline-block;
    margin: 1em 0;
  }
  .social ul {
    padding: 0;
  }
  .social ul li {
    float: left;
    list-style: none;
    margin-right: 0.5em;
  }
  .social ul li:before {
    display: none;
  }
  .social a {
    color: var(--vtrb-main-light-color);
    border: 0.1em solid var(--vtrb-main-light-color);
    border-radius: 1em
  }
  
  /* page About */
  .page-About img {
    max-width: 12em;
    float: right;
    margin: 0 1em 0 1em;
  }


} /* end @media screen */

@media screen and (max-width: 767px) {
  /*
   * Main content
   * * * * * * * * */
  .content-column-content {
    padding-left: 0;
    padding-right: 0;
  }
  /*
   * Sidebar offcanvas
   * * * * * * * * * * */
  .row-offcanvas-right.active {
    right: 100%;
  }
  .small-navbar {
    position: fixed;
    top: 0 ;
    left: 0;
    width: 100vw;
    z-index: 900;
    padding: 1em;
    margin: 0;
    background-color: #f1f1fa;
  }
  .small-navbar .offcanvas-toggle {
    margin: 0;
    background:unset;
    background-color: transparent;
  }
  .small-navbar-heading {
    margin: 0 0.5em;
    font-size: 1.8em;
    font-weight: 100;
    text-transform: unset;
    letter-spacing: unset;
  }
  .small-navbar .logo {
    width: 2em;
    float: right;
    margin-right: 1em;
  }
  .sidebar-content header {
    display:none;
  }
  .sidebar-content nav {
    padding-top: 2em;
  }
  .sidebar-content nav li {
    font-size: 1.5em;
  }
  /* 
   * About
   * * * * * */

  .page-About img {
    max-width: 6em;
  }
} /*end @media screen and (max-width: 767px) */
